<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | JobMingle</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="container">

        <div class="card">

            <h2>Login to JobMingle</h2>

            <form action="/user/login" method="post">

                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email">

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password">

                <button type="submit">Login</button>

                <p class="login-link">
                    Don't have an account?
                    <a href="/user/register">Register</a>
                </p>

            </form>

        </div>

    </div>

</body>

</html>